@import "../../../global-styles/style.scss";

.preview-container {
    display: none;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2100px;
    overflow: hidden;
    &.active {
        display: block;
    }
    .preview {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        height: 2000px;
        background-color: $color-surface-dark;
        border-radius: 16px;
        overflow: hidden;
        @include desktopBreakpoint {
            width: 900px;
            @include desktopLgBreakpoint {
                width: 1200px;
        }
    }
        &-close-btn {
            z-index: 1;
            position: absolute;
            top: 30px;
            right: 30px;
            height: 40px;
            width: 40px;
            color: $color-surface-dark;
            cursor: pointer;
            .bg {
                z-index: -1;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50%;
                height: 50%;
                background-color: $color-primary-white;
            }
        } 
        &-backdrop {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(2px);
            background-color: $color-transparent-surface-black;
        } 
        &-image {
            position: relative;
            width: 100%;
            height: 60vh;
            overflow: hidden;
            &-bg {
                height: 100%;
                .shadow {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 60%;
                    width: 100%;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, $color-surface-dark 100%)
                }
            }
            &-modal {
                position: absolute;
                left: 48px;
                bottom: 68px;
                width: 500px;
                @include flex(column, space-between, flex-start);
                gap: 30px;
                &-buttons {
                    @include flex(row, space-between);
                    gap: 10px;
                    .white {
                        padding: 6px 24px;
                    }
                    .transparent {
                        border-width: 2px;
                        height: 42px;
                        width: 42px;
                    }
                    svg {
                        height: 26px;
                        width: 26px;
                    }
                }
            }
        }
        &-content {
            padding: 10px 48px;
            @include txtDesktopXs;
            &-description {
                @include flex(row, space-between, flex-start);
                &-left {
                    width: 65%;
                    .top-section {
                        margin-bottom: 0.4em;
                        @include flex(row, flex-start);
                        gap: 10px;
                        @include txtDesktopMd;
                        span:first-child {
                            color: #46d369;
                        }
                    }
                    .series-description {
                        margin: 1.6em 0;
                    }
                }
                &-right {
                    width: 33%;
                    .tags {
                        padding-bottom: 1em;
                        .title {
                            color: $color-primary-grey;
                        }
                        .element {
                            padding-left: 0.3em;
                            color: $color-primary-white;
                            cursor: pointer;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            .el0 {
                display: none;
            }
            &-episodes {
                .episodes-header {
                    @include flex(row, space-between, flex-start);
                    &-left {
                        .title {
                            @include txtDesktopXl;
                            margin: 32px 0 16px;
                        }
                        .description {
                            @include flex(row, flex-start);
                            .season {
                                @include txtDesktopSm;
                                padding-right: 10px
                            }
                        }
                    }
                    &-right {
                        margin-top: 32px;
                    }
                }
            }
            .maturity-rating {
                @include flex(row, flex-start);
                .item {
                    padding-left: 0.3em;
                }
            }        
        }
    }
}