@mixin flex($dir: row, $justify-content: center, $align-items: center) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justify-content;
    align-items: $align-items;
};
    

@mixin container($width, $padding: 0, $background-color: $color-surface-dark, $border-radius: 16px) {
    box-sizing: border-box;
    @include flex(column, space-between, flex-start);
    width: $width;
    padding: $padding;
    background-color: $background-color;
    border-radius: $border-radius;
};
    

@mixin bg-image($height, $width, $url, $size: contain) {
    height: $height;
    width: $width;
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: $size;
    background-position: center;
};

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
};
 

// Text
// Mobile
@mixin txtMobileXL {
    font-size: 18px;
    font-weight: 600;
};

@mixin txtMobileLg {
    font-size: 16px;
    font-weight: 700;
};

@mixin txtMobileMd {
    font-size: 16px;
    font-weight: 600;
};

@mixin txtMobileSm {
    font-size: 14px;
    font-weight: 600;
};

@mixin txtMobileXs {
    font-size: 14px;
    font-weight: 400;
};

// Tablet, Desktop
@mixin txtTDesktopxl {
    font-size: 24px;
    font-weight: 700;
};

@mixin txtDesktopXl {
    font-size: 24px;
    font-weight: 600;
};

@mixin txtDesktopLg {
    font-size: 18px;
    font-weight: 700;
};

@mixin txtDesktopMd {
    font-size: 16px;
    font-weight: 600;
};

@mixin txtDesktopSm {
    font-size: 14px;
    font-weight: 600;
};

@mixin txtDesktopXs {
    font-size: 14px;
    font-weight: 400;
};

@mixin txtDesktopXxs {
    font-size: 12px;
    font-weight: 500;
};

// Breakpoints
@mixin tabletBreakpoint {
    @media (min-width: $screen-tablet) {
        @content;
    }
};
@mixin desktopBreakpoint {
    @media (min-width: $screen-desktop) {
        @content;
    }
};
   