/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

// colors - main
$color-primary-white: #fff;
$color-secondary-white: #E8E8E8;
$color-primary-grey: #767676;
$color-secondary-red: #DE4129;
// colors - surfaces
$color-backround: #000;
$color-surface-dark: #1A1A1A;
$color-surface-light: #242424;
$color-transparent-surface: rgba(255, 255, 255, 0.2);
$color-transparent-surface-black: rgba(0, 0, 0, 0.5);
$color-transparent-surface-hover: rgba(255, 255, 255, 0.3);
//colors - suplementary
$color-border-dark: #2D2D2D;
$color-border-light: #575757;
$color-border-light-hover: #808080;
$color-gold: #E7BF35;
$color-silver: #909090;
$color-brown: #7A5235;
// breakpoints
$screen-tablet: 600px;
$screen-desktop: 1024px;
$screen-desktop-lg: 1250px;
$screen-height-tablet: 600px;
$screen-height-desktop: 900px;