@import "../../../global-styles/style.scss";

.video-pop-up {
    display: none;
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $color-backround;
    &.active {
        display: block;
    }
    &-video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        .video {
            width: 100%;
        }
    }   
}