@import "../../../global-styles/style.scss";

.carousel-section {
    @include flex(column, flex-end, stretch);
    gap: 16px;
    @include tabletBreakpoint {
        gap: 32px;
        @include txtDesktopXl;
    }
    &-header {
        padding: 0 16px;
        @include flex(row, space-between, flex-end);
        @include tabletBreakpoint {
            padding: 0 40px;
            @include desktopBreakpoint {
                padding: 0 56px;
            }
        }
        .title {
            width: 140px;
            @include txtMobileXl;
            @include tabletBreakpoint {
                width: auto;
                @include txtDesktopXl;
            }
        }
        .see-all{
            border: none;
            color: $color-primary-white;
            background-color: transparent;
            @include flex;
            gap: 8px;
            @include txtMobileMd;
            p {
                text-decoration: underline;
            }
            .arrow {
                &.big {
                    display: none;
                }
            }
            @include tabletBreakpoint {
                @include txtDesktopMd;
                .arrow { 
                    &.big {
                        display: block;
                    }
                    &.small {
                        display: none;
                    }
                }
                @include desktopBreakpoint {
                        p {text-decoration: none;}
                    &:hover {
                        p {text-decoration: underline;}
                    }
                }
            }
        }
    }
}