@import "../../../../global-styles/style.scss";

.home-page-main-photo {
    z-index: -1;
    @include bg-image(80vh, 100vw, "../../../../assets/images/Wednesday_big_bgc.jpg", cover);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    @include mobileLandscapeBreakpoint {
        height: 100vh;
    }
    &-shadow {
        position: absolute;
        height: 20%;
        width: 100%;
        left: 0;
        &.top {
            top: 0;
            background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
        }
        &.bottom {
            bottom: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        }
    }
}