@import "../../global-styles/style.scss";

.slide-tile{
    margin-right: 8px;
    width: 218px;
    height: 140px;
    border-radius: 14px;
    overflow: hidden;
    
    @include tabletBreakpoint {
        transform: translateY(-50%);
        padding: 0 40px;
        gap: 40px;
        @include desktopBreakpoint {
            padding: 64px;
        }
    }
}