@import "../../../../global-styles/style.scss";
.home-page-main-content {
    @include container(100%, 0 16px, transparent);
    gap: 24px;
    margin-top: 40vh;
    @include mobileLandscapeBreakpoint {
        margin-top: 25vh;
    }
    @include tabletBreakpoint {
        margin-top: 25vh;
        padding: 0 40px;
        gap: 40px;
        @include desktopBreakpoint {
            padding: 0 64px;
        }
    }
    .content {
        @include flex(column, flex-start, flex-start);
        gap: 16px;
        @include tabletBreakpoint {
            gap: 24px;
        }
        .note {
            @include flex;
            column-gap: 16px;
            img {
                height: 32px;
                @include tabletBreakpoint {
                    height: 40px;
                }
            }
            p {
                @include txtMobileLg;
                @include tabletBreakpoint {
                    @include txtDesktopXl;
                }
            }
        }
        .title {
            height: 70px;
            @include tabletBreakpoint {
                height: 112px;
                @include desktopBreakpoint {
                    height: 172px;
                }
            }
        }
        p {
            @include txtMobileXs;
            @include mobileLandscapeBreakpoint {
                width: 650px;}
            @include tabletBreakpoint {
                width: 75%;
                @include txtDesktopLg;
                width: 570px
            }
        } 
        
    } 
    .buttons {
        @include flex;
        gap: 12px;
    }
}