@import "../../../../global-styles/style.scss";

.home-page-main-content {
    z-index: 1;
    @include container(100%, 16px, transparent);
    gap: 24px;
    position: absolute;
    left: 0;
    top: 50%;
    @include tabletBreakpoint {
        transform: translateY(-50%);
        padding: 40px;
    }
    .title {
        height: 70px;
        @include tabletBreakpoint {
            height: 112px;
        }
    }
    .note {
        display: flex;
        flex-direction: row;
        column-gap: 16px;
        align-items: center;
        p {
            @include txtMobileLg
        }
    }
    p {
        @include txtMobileXs;
    }    
    .buttons {
        @include flex;
        gap: 12px;
    }
}