/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/normalize.scss";
@import "styles/fonts.scss";
@import "styles/root-variables.scss";
@import "styles/root-mixins.scss";


body, p, h1, h2 {
  font-family: 'Space Grotesk', sans-serif;
  color: $color-primary-white;
  margin: 0;
  padding: 0;
  letter-spacing: normal;
  line-height: 1.2em;
}

body {
  background-color: $color-backround;
}