@import "../../../global-styles/style.scss";
.btn {
    position: relative;
    display: none;
    &.display {
        display: block;
    }
    &.active {
        .button {
            border-color: $color-primary-white
        }
    }
    &-container {
        position: relative;
    }
}