@import "../../../global-styles/style.scss";
.add-btn {
    position: relative;
    &.active {
        .button {
            padding: 0;
        }
    }
    .button {
        padding: 6px;
    }
    .basic-tooltip {
        min-width: 120px;
    }
}