@import "../../global-styles/style.scss";

.carousel-section {
    padding: 0 16px;
    @include flex(column, flex-end, stretch);
    gap: 16px;
    &-header {
        @include flex(row, space-between, flex-end);
        
        .title {
            width: 140px;
            @include txtMobileXL;
        }
        .see-all{
        border: none;
        background-color: transparent;
        @include flex;
        gap: 8px;
        @include txtMobileMd;
        &:hover {
            p {text-decoration: underline;}
        }
        }
    }
}