@import "../../global-styles/style.scss";

.footer {
    text-align: center;
    .social-media {
        @include flex;
        gap: 24px;
        &-icon, &-icon:link, &-icon:visited, &-icon:active {
            color: $color-primary-white;
            svg {
                width: 24px;
            }
            &:hover {
                color: $color-primary-grey;
            }
        }
    }
    p{
        line-height: 100px;
        color: $color-primary-grey;
    }
}