@import "../../../../global-styles/style.scss";

.carousels {
    margin-top: 56px;
    @include flex(column, flex-start, stretch);
    gap:40px;
    @include tabletBreakpoint {
        margin-top: 88px;
        gap:64px;
    }
}