@import "../../../../global-styles/style.scss";

.carousels {
    margin: 56px 0;
    @include flex(column, flex-start, stretch);
    gap:40px;
    @include tabletBreakpoint {
        margin: 88px 0;
        gap:64px;
    }
}