@import "../../../global-styles/style.scss";

.episode-tile {
    box-sizing: border-box;
    width: 100%;
    padding: 16px;
    border-bottom: 1px solid $color-border-dark;
    @include flex(row, flex-start, center);
    cursor: pointer;
    &-number {
        flex: 0 0 5%;
        @include txtDesktopXxl;
    }
    &-picture {
        position: relative;
        flex: 0 0 20%;
        height: 120px;
        border-radius: 16px;
        overflow: hidden;
        .playBtn-backdrop {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $color-transparent-surface-black;
            .play-btn {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 32px;
                height: 32px;
            }
        }
    }
    &-desc-section {
        flex: 0 0 70%;
        padding-left: 24px;
        @include flex(column, center, stretch);
        @include txtDesktopLg;
        .top-section {
            margin-bottom: 8px;
            @include flex(row, space-between);
            .title {
                @include txtDesktopLgBold;
            }
        }
        .description {
            padding-right: 48px;
            color: $color-primary-grey;
        }
    }
}