@import "../../../global-styles/style.scss";

.nav-carousel-button-shadow {
    display: none;
    @include tabletBreakpoint {
        display: block;
        position: relative;
        height: 164px;
        width: 128px;
        background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
        @include desktopBreakpoint {
            width: 160px;
        }
        &.back {
            background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
        }
        &.top10 {
            height: 188px;
        }
    }
    .button {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 48px;
        height: 48px;
        @include tabletBreakpoint {
            display: block;
        }
    } 
}