@import "../../../global-styles/style.scss";

.little-pop-up {
    display: none;
    @include desktopBreakpoint {
        z-index: 20;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(calc(-50% - 4px));
        width: 256px;
        height: 164px;
        @include flex(column, flex-start);
        background-color: $color-surface-dark;
        border-radius: 16px;
        box-shadow: 16px 16px 24px rgba(0, 0, 0, 0.32);
        overflow: hidden;
        opacity: 1;
        transition: all .2s ease-in .5s;
        &.active {
            z-index: 21;
            opacity: 1;
            top: -50%;
            width: 360px;
            height: 324px;
            .little-pop-up-image {
                height: 210px;
            }
            .little-pop-up-text {
                display: flex;
                opacity: 1;
            }
        }
        &-image {
            height: 164px;
            transition: all .2s ease-in .5s;
        }
        &-text {
            box-sizing: border-box;
            width: 100%;
            padding: 16px;
            @include flex(column, flex-start, stretch);
            opacity: 0;
            transition: all .2s ease-in .5s;
            &-buttons {
                margin-bottom: 16px;
                @include flex(row, space-between, flex-end);
                &-group {
                    @include flex(row, center, center);
                    gap: 8px;
                }
                .more-info-btn {
                    position: relative;
                    .basic-tooltip {
                        min-width: 45px;
                    }
                }
            }
            &-slider-section {
                @include txtDesktopXxs;
                .slider-section-header {
                    margin-bottom: 12px;
                    @include flex(row, space-between, flex-end);
                    .time {
                        color: $color-primary-grey;
                    }
                }
                .slider-section-slider {
                    .slider-container {
                        position: relative;
                        width: 100%;
                        height: 3px;
                        background-color: $color-surface-light;
                        border-radius: 2px;
                        overflow: hidden;
                        .slider-bar {
                            position: absolute;
                            top: 0;
                            left: -100%;
                            width: 100%;
                            height: 3px;
                            background-color: $color-secondary-red;
                            border-radius: 2px;
                        }
                    }
                }
            }
        }
    }
}