@import "../../global-styles/style.scss";

.mainMenu {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    @include flex(row, flex-start);
    padding: 0 16px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    transition: .3s;
    &.active {
        background: $color-backround;
    }
    .home {
        background-color: transparent;
        border: none;
    }
}